.header {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    padding: 10px 20px;
    background-color: #1e1e1e;
    color: #fff;
}

.logo {
    font-size: 1.2rem;
}

.nav {
    display: flex;
    gap: 15px;
    align-items: center; /* Вирівнює елементи по вертикалі по центру */
}

.nav-button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 10.5px 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; /* Фіксована ширина для всіх кнопок */
    white-space: nowrap; /* Заборона переносу тексту на новий рядок */
}
.nav-button1 {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; /* Фіксована ширина для всіх кнопок */
    white-space: nowrap; /* Заборона переносу тексту на новий рядок */
}
.nav-button1:hover {
    background-color: #fff;
    color: #333;
}

.nav-button:hover {
    background-color: #fff;
    color: #333;
}


.logof {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.logo-image {
    width: 200px;
    height: auto;
}
